<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 4 - Exercício 4</title>
</head>
<body>
    <h1>Exercícios da aula 4</h1>
    <ul>
        <li><a href="{{ url_for('aula4.aula4_exercicio1') }}">Exercicio 1 - Canvas</a></li>
        <li><a href="{{ url_for('aula4.aula4_exercicio2') }}">Exercício 2 - Webcam</a></li>
        <li><a href="{{ url_for('aula4.aula4_exercicio3') }}">Exercício 3 - Tabela</a></li>
    </ul>
</body>
</html>
