
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário</title>
    </head>
    <body>
        <h1>Formulário</h1>
        <form action="/aula5/processar" method="POST">
    <label for="nome">Nome:</label> <input type="text" name="nome" required><br><label for="email">Email:</label> <input type="text" name="email" required><br><label for="idade">Idade:</label> <input type="text" name="idade" required><br><label for="telefone">Telefone:</label> <input type="text" name="telefone" required><br><input type="submit" value="Enviar"></form></body></html>