<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Currículos</h1>
    <ul>
        <li><a href="">Currículo Tayná</a></li>
        <li><a href="">Currículo Cayo</a></li>
        <li><a href="">Currículo Samuel</a></li>
        <li><a href="">Currículo Rai</a></li>
        <li><a href="">Currículo Sérgio</a></li>
        <li><a href="">Currículo Bruno</a></li>
    </ul>
</body>
</html>
