<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/048f53145f.js" crossorigin="anonymous"></script>
    <title>Aula 1</title>
    <link rel="stylesheet" href="/static/css/aulas_teoricas.css">
</head>
<body>
    <h1>Aula 1 - Considerações  </h1>

    <h2>Avaliações</h2>

    <ul>
        <li><strong>Portfólio:</strong> Deve incluir tudo que foi desenvolvido durante a Unidade Curricular durante o semestre. <em>Prazo: 12/02/2025</em></li>
        <li><strong>Projeto funcional individual</strong></li>
        <li><strong>Aplicação prática individual ao vivo ao lado do professor.</strong> <em>Prazo: 22/01/2025</em></li>
    </ul>

    <h2>Linguagem de Programação</h2>
    <p><ul><strong>Python:</strong> No mínimo a versão 3.11</ul></p>

    <h2>Conhecimentos Requisitados</h2>
    <ul>
        <li>Criar ambiente virtual em Python</li>
        <li>Extensões: <code>python venv</code></li>
        <li>Estar ambientado com sistema operacional Linux</li>
        <li>Instalar pacotes</li>
        <li><strong>Nunca inserir código na pasta do ambiente virtual</strong></li>
        <li>Gerenciar o arquivo <code>requirements.txt</code></li>
        <li><strong>Comandos para criar e ativar ambiente virtual:</strong>
            <pre>
    python -m venv nome_do_ambiente_virtual
    nome_do_ambiente_virtual/Scripts/activate
            </pre>
        </li>
    </ul>

    <h2>Dependências para Instalar</h2>
    <ul>
        <li><code>flask</code></li>
        <li><code>sqlalchemy</code></li>
        <li><code>numpy</code> (<code>pip install numpy</code>)</li>
    </ul>

    <h2>Sites Recomendados</h2>
    <ul>
        <li><a href="https://pypi.org/" target="_blank">PyPI</a> (para seguir instruções de instalação de dependências)</li>
    </ul>

    <h2>Padrões</h2>
    <ul>
        <li>Variáveis e funções declaradas em inglês</li>
        <li>Utilizar <em>snake_case</em></li>
    </ul>


    <footer>
        <div class="infos">
            <p>Portifólio de aulas da Unidade Curricular de Frameworks para Desenvolvimento Web. <br>
                Turma TADS 4 2024. <br>
                Professor Alex Araújo.
            </p>

        </div>

        <div class="student">
            <p href="">Por <a href="" class="me links"><b>Tayná Souza</b></a><br>
                <a class="links" href="https://github.com/taynaellen"><i class="fa-brands fa-github fa-lg i-footer"></i>GitHub</a><br>
                <a class="links" href="https://www.linkedin.com/in/taynaellen-souza/"><i class="fa-brands fa-linkedin fa-lg i-footer"></i>Linkedin</a><br>
                <a class="links" href=""><i class="fa-solid fa-envelope fa-lg i-footer"></i>taynaellen1@gmail.com</a>
            </p>
            
        </div>
    </footer>
</body>
</html>