<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/048f53145f.js" crossorigin="anonymous"></script>
    <title>Aula 11</title>
    <link rel="stylesheet" href="/static/css/aulas_teoricas.css">
    <style>

.atividade {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 4rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 900px;
    transition: 0.3s;
}


.atividade ul {
    margin-top: 1rem;
}

.atividade ul li {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 0;
    border-left: 4px solid var(--color2);
    margin-bottom: 8px;
    border-radius: 5px;
    padding-left: 6px;
}

    </style>
</head>
<body>
    <h1>Aula 11 - Atividades para praticar</h1>
    <ul><li>Nesta aula, em teoria, seria a aplicação da avaliação. Contudo, decorrente de algumas alterações, a avaliação foi adiada e foi proposto para turma algumas atividades de fixação.</li> </ul>
    <h2>Atividades</h2>

    <div class="atividade">
        <h2>1. Mini-blog Pessoal</h2>
        <p><strong>Objetivo:</strong> Criar uma aplicação simples para postar pequenos textos com data e hora.</p> <br> <br>
        <h4>Funcionalidades:</h4>
        <ul>
            <li>Formulário para adicionar novos posts.</li>
            <li>Lista de posts na página inicial, ordenados por data.</li>
            <li>Utilização de templates para formatar a página.</li>
        </ul> <br> <br> 
        <h4>Dicas:</h4>
        <ul>
            <li>Utilizar uma lista em Python para armazenar os posts.</li>
            <li>Usar o módulo datetime para registrar a data e hora de cada post.</li>
            <li>Criar um template básico com HTML e CSS para estilizar a página.</li>
        </ul> <br><br>

        <p><strong>Tempo:</strong> 30 minutos.</p>
        <p><strong>Aprendizado:</strong> Praticar os conceitos aprendidos e explorar novas possibilidades com o Flask.</p>
        <p><strong>Ferramentas:</strong> Visual Studio Code com suporte a Python e Flask.</p>
        <p><strong>Proibido usar Internet.</strong></p>
    </div>
    
    <div class="atividade">
        <h2>2. Página de autenticação básica</h2>
        <p><strong>Objetivo:</strong> Criar uma aplicação simples para comparar se o usuário e a senha digitados estão corretos.</p> <br><br>
        <h4>Funcionalidades:</h4>
        <ul>
            <li>Formulário para informar usuário e senha.</li>
            <li>Dicionário para armazenar o usuário e senha cadastrados.</li>
            <li>Utilização de templates para formatar a página.</li>
            <li>Retornar mensagens de sucesso ou falha na autenticação.</li>
        </ul> <br><br>
        <h4>Dicas:</h4>
        <ul>
            <li>Utilizar lista para armazenar as tentativas de autenticação.</li>
            <li>Usar o módulo datetime para registrar a data e hora de login.</li>
            <li>Criar um template básico com HTML e CSS para estilizar a página.</li>
        </ul> <br><br>
        <p><strong>Tempo:</strong> 30 minutos.</p>
        <p><strong>Aprendizado:</strong> Praticar os conceitos aprendidos e explorar novas possibilidades com o Flask.</p>
        <p><strong>Ferramentas:</strong> Visual Studio Code com suporte a Python e Flask.</p>
        <p><strong>Proibido usar Internet.</strong></p>
    </div>
    
    <div class="atividade">
        <h2>3. Página de upload de fotos</h2>
        <p><strong>Objetivo:</strong> Criar uma aplicação simples para fazer upload de imagens.</p> <br><br>
        <h4>Funcionalidades:</h4>
        <ul>
            <li>Formulário para escolher o arquivo a partir do computador do usuário.</li>
            <li>Armazenar os arquivos enviados pelos usuários em uma pasta.</li>
            <li>Utilização de templates para formatar a página.</li>
            <li>Retornar mensagens de sucesso ou falha na autenticação. Em caso de sucesso, deve-se retornar também o path de onde o arquivo foi armazenado no servidor.</li>
        </ul> <br><br>
        <h4>Dicas:</h4>
        <ul>
            <li>Utilizar lista para armazenar os arquivos enviados.</li>
            <li>Usar o módulo datetime para registrar a data e hora do upload do arquivo.</li>
            <li>Criar um template básico com HTML e CSS para estilizar a página.</li>
        </ul> <br><br>
        <p><strong>Tempo:</strong> 30 minutos.</p>
        <p><strong>Aprendizado:</strong> Praticar os conceitos aprendidos e explorar novas possibilidades com o Flask.</p>
        <p><strong>Ferramentas:</strong> Visual Studio Code com suporte a Python e Flask.</p>
        <p><strong>Proibido usar Internet.</strong></p>
    </div>
    



    <footer>
        <div class="infos">
            <p>Portifólio de aulas da Unidade Curricular de Frameworks para Desenvolvimento Web. <br>
                Turma TADS 4 2024. <br>
                Professor Alex Araújo.
            </p>

        </div>

        <div class="student">
            <p href="">Por <a href="" class="me links"><b>Tayná Souza</b></a><br>
                <a class="links" href="https://github.com/taynaellen"><i class="fa-brands fa-github fa-lg i-footer"></i>GitHub</a><br>
                <a class="links" href="https://www.linkedin.com/in/taynaellen-souza/"><i class="fa-brands fa-linkedin fa-lg i-footer"></i>Linkedin</a><br>
                <a class="links" href=""><i class="fa-solid fa-envelope fa-lg i-footer"></i>taynaellen1@gmail.com</a>
            </p>
            
        </div>
    </footer>
</body>
</html>