<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Currículos</h1>
    <ul>
        <li><a href="{{ url_for('aula4.curriculo1') }}">Currículo Tayná</a></li>
        <li><a href="{{ url_for('aula4.curriculo2') }}">Currículo Cayo</a></li>
        <li><a href="{{ url_for('aula4.curriculo3') }}">Currículo Samuel</a></li>
        <li><a href="{{ url_for('aula4.curriculo4') }}">Currículo Rai</a></li>
        <li><a href="{{ url_for('aula4.curriculo5') }}">Currículo Sérgio</a></li>
        <li><a href="{{ url_for('aula4.curriculo6') }}">Currículo Bruno</a></li>
    </ul>
</body>
</html>
