<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de autentificação</title>
    <link rel="stylesheet" href="/static/css/exercicio1-dia06-11.css">
</head>
<body>
    <main>
        <label for="user">Usuário:</label>
        <input type="text" name="" id="user" placeholder="Digite seu usuário">
        <br>
        <label for="">Senha:</label>
        <input type="password" name="" id="password" placeholder="Digite sua senha">

        <button>Login</button>
    </main>
</body>
</html>


